---
import Layout from '../layouts/Layout.astro';
import QuoteForm from '../components/QuoteForm.astro';
import type { QuoteFormData } from '../components/QuoteForm.astro';

import { quotesApi, gql } from '../lib/quotes-api';
import { isPostRequest, getFormData } from '../lib/request-utils';

let formData: QuoteFormData = {};
let saveError = false;

if (isPostRequest(Astro.request)) {
  formData = await getFormData(Astro.request);

  const movieId = await quotesApi.getMovieId(formData.movie);

  if (movieId) {
    const quote = {
      quote: formData.quote,
      saidBy: formData.saidBy,
      movieId,
    };

    const { error } = await quotesApi.mutation(gql`
      mutation($quote: QuoteInput!) {
        saveQuote(input: $quote) {
          id
        }
      }
    `, { quote });

    if (!error) {
      return Astro.redirect('/');
    } else {
      saveError = true;
    }
  } else {
    saveError = true;
  }
}
---

<Layout title="Add a movie quote" page="add">
  <main>
    <h2>Add a quote</h2>
    <QuoteForm action="/add" values={formData} saveError={saveError} submitLabel="Add quote" />
  </main>
</Layout>
