---
import Layout from '../../layouts/Layout.astro';

import { quotesApi, gql } from '../../lib/quotes-api';
import { isPostRequest } from '../../lib/request-utils';

if (isPostRequest(Astro.request)) {
  const id = Number(Astro.params.id);

  const { error } = await quotesApi.mutation(gql`
    mutation($id: ID!) {
      deleteQuotes(where: { id: { eq: $id }}) {
        id
      }
    }
  `, { id });

  if (!error) {
    return Astro.redirect('/');
  }
}
---
<Layout title="Delete movie quote">
  <main>
    <h2>Delete quote</h2>
    <p class="text-lg bg-red-200 p-4">There was an error deleting the quote. Please try again.</p>
  </main>
</Layout>
