---
import Layout from '../../layouts/Layout.astro';
import QuoteForm, { QuoteFormData } from '../../components/QuoteForm.astro';

import { quotesApi, gql } from '../../lib/quotes-api';
import { isPostRequest, getFormData } from '../../lib/request-utils';

const id = Number(Astro.params.id);

let formValues: QuoteFormData = {};
let loadError = false;
let saveError = false;

if (isPostRequest(Astro.request)) {
  const formData = await getFormData(Astro.request);
  formValues = formData;

  const movieId = await quotesApi.getMovieId(formData.movie);

  if (movieId) {
    const quote = {
      id,
      quote: formData.quote,
      saidBy: formData.saidBy,
      movieId,
    };

    const { error } = await quotesApi.mutation(gql`
      mutation($quote: QuoteInput!) {
        saveQuote(input: $quote) {
          id
        }
      }
    `, { quote });

    if (!error) {
      return Astro.redirect('/');
    } else {
      saveError = true;
    }
  } else {
    saveError = true;
  }
} else {
  const { data } = await quotesApi.query(gql`
    query($id: ID!) {
      getQuoteById(id: $id) {
        id
        quote
        saidBy
        movie {
          id
          name
        }
      }
    }
  `, { id });

  if (data?.getQuoteById) {
    formValues = {
      ...data.getQuoteById,
      movie: data.getQuoteById.movie.name
    };
  } else {
    loadError = true;
  }
}
---

<Layout title="Edit movie quote">
  <main>
    <h2>Edit quote</h2>
    <QuoteForm action={`/edit/${id}`} values={formValues} saveError={saveError} loadError={loadError} submitLabel="Update quote" />
  </main>
</Layout>
